/* fonts and variables */
:root {
    --main-text-color: rgb(35, 31, 32);
  }

/* genereal */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: var(--main-text-color);
    background-color: #eeece4;
}
/* mobile width: 375px */
/* navbar */
.nav-wrapper {
    width: 100%;
    height: 140px;
    margin-bottom: 32px;
    background-color: #fff;
    z-index: 1;
    padding-bottom: 10px;
}

.nav-wrapper nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

nav #menu-items.active a{
    color: #eeece4;
}


.nav-wrapper nav #menu-items{
    list-style: none;
    text-align: left;
    width: 100%;
    height: 16vh;
    display: none;
}

.nav-wrapper nav .menu-item{
    padding: 22px 14px;
    text-decoration: none;
    color: var(--main-text-color);
    cursor: pointer;
    transition: .5ms;
}

.nav-wrapper nav .menu-item:hover{
    color: darkgray;
    transition: .5ms;
}

.nav__logo img {
    width: 200px;
    height: 50px;
    position: absolute;
    top: 35px;
    left: 75px;
}

#nav__user-bereich {
    display: flex;
    gap: 16px;
    cursor: pointer;
    position: absolute;
    top: 100px;
    justify-content: center;
    z-index: 2;
    width: 100%;
}

 #hamburger {
    margin: 0;
    margin-left: 15px;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    transition: opacity .3s;
    padding-right: 5px;
  }  

  #hamburger:hover {
    cursor: pointer;
    opacity: .5;
  }
  
  #hamburger .line{
    width: 40px;
    height: 3px;
    background: var(--main-text-color);
    margin: 8px auto;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
  }

  #hamburger.isactive .line:nth-child(2) {
    opacity: 0;
  }
  
  #hamburger.isactive .line:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
  }
  
  #hamburger.isactive .line:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
  }

nav #menu-items.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 85%;
    height: 22vh;
    display: block;
    animation: fade .5s;
    background-color: #231f20;
    opacity: 1;
    padding: 10px;
    z-index: 5;
    line-height: 25px;
    
}



/* main */
/* hero-section */
.hero-section {
    background: center bottom no-repeat url(../images/Meerjungfrau_Genuss_07_CL7_4722.svg);
    background-size: cover;
    height: 45vh;
    width: 100%;
    margin: 0 auto;
    margin-top: -20px;
    margin-bottom: 8px;
}

.hero-section__hook {
    position: absolute;
    width: 375px;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    padding: 16px;
}

.hero-section__bg {
    background: no-repeat url(../images/Shape_hero_hook.svg);
    background-position: bottom 60px left -5px;
    background-size: 305px;
    padding: 80px 48px;
}

.hero-section__hook-text{
   color: var(--main-text-color);
   line-height: 22.4px;
   font-size: 14px;
}

.hero-section__hook-text h1{
    text-transform: uppercase;
    font-size: 25px;
    line-height: 40px;
    width: 100%;
}


.hero-section__hook-cta {
    margin-top: 16px;
    border: none;
    background-color: #dad260;
    border-radius: 5px;
    padding: 10px 5px;
    width: 200px;
    position: absolute;
    top: 210px;
    left: 80px;
    cursor: pointer;
}

/* Section 1 - Beer Range */

.special-selection {
    background:center center no-repeat url(../images/beer_range_bg.svg);
    background-size: 10000px 2115px;
    text-align: center;
    padding: 32px 0;
}

.special-selection__beer-text h3 {
    text-transform: uppercase;
}

.special-selection__beer {
    padding-top: 3rem;
}

.beer-titel, .beer-preis {
    font-weight: bold;
}

.beer-size, .beer-pfand {
    font-size: .7rem;
}

/* Section 2 - Advertising */
.ads {
    height: fit-content;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 8px 8px;
}

.ads .advertising-text {
    font-size: 16px;
    padding-top: 16px;
    line-height: 21px;
}

.ads .advertising-text h2{
    font-size: 21px;
    line-height: 24px;
}

.ads img {
    width: 100%;
    height: auto;
}

.ads__right {
    margin-top: 40px;
}

/* Section 3 - Awards */
.awards {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 2rem;
    padding-top: 4rem;
}
.awards .awards__left img{
    width: 326px;
    height: auto;

}

.awards img {
    height: 143px;
    width: 163px;
}

.awards .awards__mid {
    flex-direction: row;
}

/* Footer */

footer {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    background: center center no-repeat url(../images/footer_bg.svg);
    background-size: 3350px 1000px;
    color: #eeece4;
}

footer h3 {
    padding-bottom: 8px;
}

/* Footer Section - Services and Informations */
.informations, .services {
    width: 150px;
    padding-left: 35px;
}

.services .service, .informations .information {
    list-style: none;
    
}

.services .service a, .informations .information a{
    color: var(--main-text-color);
    line-height: 1.4rem;
    text-decoration: none;
    color: #eeece4;
}

/* Footer Section - Social Media */
.socials {
    display: flex;
    justify-content: space-evenly;
    padding-top: 16px;
}

/* Footer Section - Newsletter */
.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter .newsletter__interaction {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.newsletter .newsletter__interaction .newsletter-cta {
    background-color: #dad260;
    border-radius: 3px;
    border: none;
}


/* mobile width: 768px */
/* navbar */
@media screen and (min-width: 768px) {
    /* navbar */
    nav #menu-items.active {
        border: 1px solid red;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 85%;
        height: 14vh;
        animation: fade .5s;
        background-color: #231f20;
        opacity: 1;
        padding-top: 20px;
        z-index: 5;
        line-height: 20px;
    }

    nav #menu-items.active a{
        color: #eeece4;
    }

    .nav__logo img {
        width: 280px;
        height: 100px;
        position: absolute;
        top: 15px;
        left: 230px;
    }

    #nav__user-bereich img{
        width: 35px;
    }

    #nav__user-bereich .user-icon {
        width: 30px;
    }

    /* hero-section */
    .hero-section__hook {
        position: absolute;
        left: 75%;
        top: 35%;
        transform: translate(-75%, -50%);
        padding: 16px;
    }

    /* beer selection */
    .special-selection {
        background:center center no-repeat url(../images/beer_range_bg.svg);
        background-size: 2500px 2115px;
        text-align: center;
        padding: 32px 0;
        margin-top: 16px;
    }

    .special-selection__beers {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 100%;
    }

    /* advertising */
    .advertising {
        display: flex;
        gap: 16px;
        padding-top: 8px;
    }
    .ads__right {
        margin-top: 0;
    }

    .awards {
        flex-direction: row;
        justify-content: space-evenly;
    }

    /* footer-section - services and informations */
    footer {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

/* mobile width: 1024px */
/* navbar */
@media screen and (min-width: 1024px) {
    
    /* navbar */
    .nav-wrapper {
        flex-direction: row;
        height: 50px;
    }
    .nav-wrapper nav {
        gap: 200px;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        position: s;
        padding-top: 15px;
    }

    .nav-wrapper nav #menu-items{
        list-style: none;
        text-align: left;
        width: 100%;
        height: 16vh;
        display: flex;
    }

    .nav__logo img {
        position: absolute;
        top: -27px;
        left: 550px;
        width: 200px;
    }

    #nav__user-bereich {
        gap: 32px;
        cursor: pointer;
        justify-content: space-evenly;
        z-index: 2;
        width: fit-content;
        position: absolute;
        top: 5px;
        right: 90px;
        padding-top: 8px;
        
    }

    #nav__user-bereich img{
        width: 25px;
    }

    #nav__user-bereich .user-icon {
        width: 20px;
    }

    #hamburger {
        display: none;
    }

    .nav-wrapper nav #menu-items{
        text-align: left;
        width: fit-content;
        height: 100%;
        align-self: center;
    }
    /* hero-section */
    .hero-section {
        height: 60vh;
    }

    .hero-section__hook {
        position: absolute;
        left: 75%;
        top: 40%;
        transform: translate(-75%, -50%);
        padding: 16px;
    }

    /* beer selection */
    .special-selection {
        text-transform: uppercase;
    }

    .special-selection__beers {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 100%;
    }

    /* advertising */
    .advertising {
        display: flex;
        gap: 16px;
        padding-top: 8px;
    }
    .ads__right {
        margin-top: 0;
    }

    .awards {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .awards__group {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    /* footer-section - services and informations */
    footer {
        flex-direction: row;
        justify-content: space-evenly;
    }
}
