/* variables and font-faces */
$main-text-color: #231f20;

/* import of fontface */
@font-face {
    font-family: inselGearedSlap;
    src: url(../fonts/Archiv/geared-slab/GearedSlab.ttf);
}
@font-face {
    font-family: inselTitiliumReg;
    src: url(../fonts/Archiv/Titillium_Web/TitilliumWeb-Regular.ttf);
}
@font-face {
    font-family: inselTitiliumBold;
    src: url(../fonts/Archiv/Titillium_Web/TitilliumWeb-Bold.ttf);
}

/* generals */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: $main-text-color;
    background-color: #eeece4;
    font-family: 'inselGearedSlap', sans-serif;

}


/* mobile width: 375px */
/* navbar */
.nav-wrapper {
    
    width: 100%;
    height: 70px;
    margin-bottom: 20px;
    background-color: #fff;
    z-index: 1;
    padding-bottom: 10px;

    nav {
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       align-items: center;
       width: 90%;
       height: 100%;
       margin: 0 auto;
    
    
        #menu-items{
            list-style: none;
            text-align: center;
            width: 100%;
            height: 16vh;
            display: none;

            &.active {
                position: absolute;
                top: 100px;
                right: 0;
                width: 100%;
                height: 22vh;
                display: block;
                animation: ease .5s;
                background-color: #231f20;
                opacity: 1;
                padding: 10px;
                z-index: 5;
                line-height: 25px;  
                margin-left: 52px;

                
                a {
                    color: #eeece4;
                }
            }

            .menu-item{
                padding: 22px 14px;
                text-decoration: none;
                color: $main-text-color;
                cursor: pointer;
                transition: .5ms;
                

                &hover{
                    color: darkgray;
                    transition: .5ms;
                }

                i {
                    .arrow {
                        border: solid black;
                        border-width: 0 3px 3px 0;
                        display: none;
                        padding: 3px 3px 3px 3px;
                        transform: rotate(45deg);
                        margin-left: 5px;
                        position: absolute;
                        top: 33px;
                    }
                }
                    
            }
        }

        

        .nav__logo img {
            width: 150px;
            height: 50px;
            position: absolute;
            top: 5px;
            left: 100px;
        }

        #nav__user-bereich {
            display: flex;
            gap: 16px;
            cursor: pointer;
            position: absolute;
            top: 20px;
            right: -135px;
            justify-content: center;
            z-index: 2;
            width: 100%;
        }
        
        #menu-items.active {
            position: absolute;
            top: 0;
            left: 0;
            width: 85%;
            height: 22vh;
            display: block;
            animation: ease .5s;
            background-color: #231f20;
            opacity: 1;
            padding: 10px;
            z-index: 5;
            line-height: 25px;   
        }
        
    }

    /* shop - subcategories */
    #shop_subcategories {
        list-style-type: none;
        position: absolute;
        top: 52px;
        left: 70px;
        background-color: #ffffff;
        padding: 10px 65px 10px 20px;
        line-height: 30px;
        font-size: 14px;
        display: none;
    }

    #hamburger {
        margin: 0;
        margin-left: 15px;
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        transition: opacity .3s;
        padding-right: 5px;
        padding-top: 10px;
        

        &hover {
        cursor: pointer;
        opacity: .5;
        }

        .line{
            width: 40px;
            height: 3px;
            background: $main-text-color;
            margin: 8px auto;
            transition: all 0.3s ease-in-out;
            border-radius: 5px;
        }

        &.isactive {

            .line:nth-child(1) {
                transform: translateY(11px) rotate(45deg);
              }

            .line:nth-child(2) {
                opacity: 0;
              }

            .line:nth-child(3) {
            transform: translateY(-11px) rotate(-45deg);
            }


        }
    }  
}

/* main */
/* hero-section */
.hero-section {
    background: center bottom no-repeat url(../images/Meerjungfrau_Genuss_07_CL7_4722.svg);
    background-size: cover;
    height: 45vh;
    width: 100%;
    margin: 0 auto;
    margin-top: -31px;
    margin-bottom: -15px;

    .hero-section__hook {
        position: absolute;
        width: 375px;
        left: 50%;
        top: 30%;
        transform: translate(-50%, -50%);
        padding: 16px;
    }


    .hero-section__bg {
        background: no-repeat url(../images/Shape_hero_hook.svg);
        background-position: bottom 70px left -5px;
        background-size: 315px;
        padding: 80px 48px;

        .hero-section__hook-text{
            color: $main-text-color;
            line-height: 20px;
            font-size: 14px;

            p{
                font-family: 'inselTitilium', sans-serif;
            }

            h1{
                text-transform: uppercase;
                font-size: 25px;
                line-height: 40px;
                width: 100%;
            }
        }
        .hero-section__hook-cta {
            margin-top: 16px;
            border: none;
            background-color: #dad260;
            border-radius: 5px;
            padding: 10px 5px;
            width: 200px;
            position: absolute;
            top: 220px;
            left: 80px;
            cursor: pointer;
            font-family: 'inselTitilium', sans-serif;
            font-weight: 700;
        }
    }
}

/* Section 1 - Beer Range */
.special-selection {
    background:center center no-repeat url(../images/beer_range_bg.svg);
    background-size: 10000px 2115px;
    text-align: center;
    padding: 32px 0;
    margin-top: -40px;
    height: fit-content;

    .special-selection__header h3, .contact_us h3{
        font-size: 25px;
        height: 40px;
        padding-top: 30px;
    }

    .special-selection__beer-text h3 {
        text-transform: uppercase;
    }
    
    .special-selection__beer {
        padding-top: 3rem;
    }
    
    .beer-titel, .beer-preis {
        font-weight: bold;
    }
    
    .beer-size, .beer-pfand {
        font-size: .7rem;
        font-family: 'inselTitiliumReg', sans-serif;
    }
    
    .beer_infos {
        font-family: 'inselTitiliumBold', sans-serif;
    }
    
    .last {
        padding-bottom: 20px;
    }
}

/* Section 2 - Advertising */
.ads {
    height: fit-content;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 8px 8px;
    margin-top: -20px;

    .advertising-text {
        font-size: 16px;
        padding-top: 16px;
        line-height: 21px;
        font-family: 'inselTitiliumReg';

        h2{
            font-size: 21px;
            line-height: 24px;
            padding-bottom: 8px;
            font-family: 'inselGearedSlap', sans-serif;
            text-transform: uppercase;
        }
    }

    img {
        width: 100%;
        height: auto;
    }

    .ads__right {
        margin-top: 40px;
    }
} 

/* Section 3 - Awards */
.awards {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 2rem;
    padding-top: 4rem;

    img {
        height: 143px;
        width: 163px;
    }

    .awards__left img{
        width: 326px;
        height: auto;
    
    }

    .awards__mid {
        flex-direction: row;
    }
}

/* Contact Form */

.contact_us {
    h3{
        text-align: center;
        padding-bottom: 16px;
        text-transform: uppercase;
    }

    .contact-form{
        display: flex;
        flex-direction: column;
        gap: 8px;
        max-width: 80%;
        margin: 0 auto;
        padding-top: 16px;

        input, textarea {
            padding: 3px 0 3px 5px;
            width: 100%;
        }

        input:focus, textarea:focus {
            outline: none !important;
            border:1px solid blue;
            border-radius: 5px;
        }

        .submit {
            background-color: #dad260;
            border-radius: 5px;
            padding: 3px 5px;
            font-family: 'inselTitilium', sans-serif;
            font-weight: 700;
            width: 100%;
            text-transform: uppercase;
            padding: 10px 0;
            margin: 16px 0;
        }

        .interactive-components {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
    }
}

/* Footer */
/* Footer Section - Services and Informations */

footer {
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    background: center center no-repeat url(../images/footer_bg.svg);
    background-size: 3350px 1000px;
    color: #eeece4;

    h3 {
        padding-bottom: 8px;
    }

    .services h3 {
        padding-top: 30px;
    }

    .service, .information {
        font-family: 'inselTitiliumReg', sans-serif;
    }

    .informations, .services {
        width: 150px;
        padding-left: 35px;
    }
    
    .services .service, .informations .information {
        list-style: none;
        
    }

    .services .service a, .informations .information a{
        color: $main-text-color;
        line-height: 1.4rem;
        text-decoration: none;
        color: #eeece4;
    }

    /* Footer Section - Social Media */
    .socials {
        display: flex;
        justify-content: space-evenly;
        padding-top: 16px;
    }

    /* Footer Section - Newsletter */
    .newsletter {
        display: flex;
        flex-direction: column;
        align-items: center;

        input {
            background-color: #231f20;
            border: 1px solid #ffff;
            border-radius: 3px;
            padding: 3px 0 3px 5px;
        }

        h3 {
            padding-bottom: 10px;
        }

        .newsletter__interaction {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .newsletter-cta {
                background-color: #dad260;
                border-radius: 3px;
                border: none;
                margin-top: 3px;
            }
        }
    }
}

/* mobile width: 768px */
/* navbar */
@media screen and (min-width: 768px) {
    /* navbar */
    .nav-wrapper {
        height: 90px;
        width: 100%;

        nav {

            #menu-items{
                &.active {
                    display: flex;
                    font-size: 20px;
                    justify-content: space-evenly;
                    align-items: center;
                    width: 85%;
                    height: 14vh;
                    animation: fade .5s;
                    background-color: #231f20;
                    opacity: 1;
                    padding-top: 20px;
                    z-index: 5;
                    line-height: 20px;
                }
            }

            .nav__logo img {
                width: 280px;
                height: 100px;
                position: absolute;
                top: -15px;
                left: 220px;
            }

            #nav__user-bereich {
                img {
                    width: 35px;
                    position: absolute;
                    right: 150px;
                }

                .user-icon {
                    width: 30px;
                    margin-right: 55px;
                }
            }

            .arrow {
                display: none;
            }
        }
    }

    /* hero-section */
    .hero-section {
        margin-bottom: -5.5px;

        .hero-section__hook {
            position: absolute;
            left: 75%;
            top: 35%;
            transform: translate(-75%, -50%);
            padding: 16px;
        }
    }

    /* beer selection */
    .special-selection {
        background:center center no-repeat url(../images/beer_range_bg.svg);
        background-size: 2500px 2115px;
        text-align: center;
        padding: 32px 0;
        margin-top: -50px;

        .special-selection__header {
            font-size: 22px;
        }

        .special-selection__beers {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            width: 100%;
        }
    }

     /* advertising */
    .advertising {
        display: flex;
        gap: 16px;
    
        .ads__right {
            margin-top: 0;
        }
    }

    .awards {
        flex-direction: row;
        justify-content: space-evenly;
        padding-bottom: 16px;

        .awards__group {
            gap: 16px;
        }
    
    }

    /* contact form */
    .contact-form{
        max-width: 70%;
        margin: 0 auto;

        .submit {
            padding: 10px 0;
            margin: 16px 0;
        }
    }

    /* footer-section - services and informations */
    footer {
        flex-direction: row;
        justify-content: space-evenly;
    }    
}

/* mobile width: 1024px */
/* navbar */
@media screen and (min-width: 1024px) {
    
    /* navbar */
    .nav-wrapper {
        flex-direction: row;
        height: 60px;

        #hamburger {
            display: none;
        }

        nav {
            gap: 200px;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            padding-top: 80px;
                

            #menu-items{
                text-align: left;
                height: 100%;
                align-self: center;
                width: 100%;
                height: 16vh;
                display: flex;
                gap: 10px;
                list-style: none;

                .menu-item {

                    .arrow {
                        position: absolute;
                        top: 20px;
                        left: 90px;
                        border: 1px solid blue;
                        display: none;
                        border-style: solid;
                        border-color: black;
                        border-image: initial;
                        border-width: 0px 3px 3px 0px;
                        padding: 3px;
                        transform: rotate(45deg);
                        margin-left: 5px;
                    }
                }
            }

            .nav__logo img {
                position: absolute;
                top: -27px;
                left: 550px;
                width: 200px;
            }
    
            #nav__user-bereich {
                gap: 32px;
                cursor: pointer;
                justify-content: space-evenly;
                z-index: 2;
                width: fit-content;
                position: absolute;
                top: 5px;
                right: -95px;
                padding-top: 8px;
    
                img{
                    width: 25px;
                }
    
                .user-icon {
                    width: 20px;
                }
            }
        } 
         /* shop-subcategories */
        #shop_subcategories{

            &.active {
                display: block;
                position: absolute;
                left: 50px;
            }

            .shop_subcategory {
                color: $main-text-color;
                text-decoration: none; 
                transition: .5ms ease;

                &:hover {
                    color: darkgray;
                    transition: .5ms;
                }
            
            }
        }
    }

     /* hero-section */
     .hero-section { 
        height: 70vh;
        margin-bottom: -10px;

        h1 {
            font-size: 32px;
        }

        .hero-section__hook {
            position: absolute;
            left: 75%;
            top: 40%;
            transform: translate(-75%, -50%);
            padding: 16px;

            .hero-section__bg {
                background-position: center 70px left -15px;
                background-size: 330px;
            }
        }
    }

     /* beer selection */
     .special-selection {
        text-transform: uppercase;

        .special-selection__header {
            font-size: 28px;
        }

        .special-selection__beers {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            width: 100%;
        }
    }

     /* advertising */
     .advertising {
        display: flex;
        gap: 16px;
        padding: 20px 10px;

        .ads__right {
            margin-top: 0;
        }
    }

    .awards {
        flex-direction: row;
        justify-content: space-evenly;

        .awards__group {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }

    /* contact form */

    .contact_us {
        width: 100%;

        .contact-form{
            width: 60%;

            .submit {
                width: 50%;
            }
        }
    }

    /* footer-section - services and informations */
    footer {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 1115px) {

    nav {

        .nav__logo {
            img {
                margin-left: 110px;
            }
        }
    
    }

    .hero-section {
        height: 80vh;
        margin-bottom: 5px;

        .hero-section__hook {
            width: 400px;

            .hero-section__bg {
                background-position: bottom 50px left -15px;
                background-size: 400px;
                width: fit-content;
                position: absolute;
                left: 75%;
                top: 110%;
                transform: translate(-75%, -30%);

                .hero-section__hook-cta {
                    position: absolute;
                    top: 200px;
                }
            }
        }
    }

    .special-selection {
        background-size: 1550px 2200px;
        background-position: top 100px;
        text-align: center;
        padding: 32px 0;
        margin-top: -2px;
    }

    .advertising {
        padding: 120px 280px;
    }

    .awards {
        justify-content: space-evenly;
        padding-bottom: 16px;

        .awards__group {
            display: flex;
            flex-direction: row;
            margin-left: -210px;
            gap: 32px;
        }
    }

        /* contact form */
        .contact_us {
            width: 80%;
            margin: 0 auto;

            .contact-form{
                width: 60%;
                
                .submit {
                    width: 50%;
                }
            }
        }
        

    /* footer */
    footer {
        .logo_socials .company_logo {
            width: 200px;
            text-align: center;
        }
    
        .logo_socials .socials{
            width: 200px;
        }
    
        .newsletter h3 {
            padding-bottom: 10px;
        }
    }

}

    

    
    